.header{
  background: powerpink;
  color: white;
  text-align: left;
  font-size: 60px;
  font-family: arial;
  padding: 10px;
}
body {
  background-image: pink;
}


j6{
  text-align: left;
  margin-left: 10px;
  font-family: arial;
  font-size: 10px;
}


img {
  float:right;
  margin-right: 30px;
  margin-top: 20px;
}
