.header{
  border: solid;
  border-color: blue;
  background: #FF00E7;
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: arial;
  padding: 10px;
}
body {
  background: #EC9DE5;
}

j1 {
  border: solid;
  border-color: pink;
  color: blue;
  text-align: center;
  margin-left: 400px;
  margin-right: 100px;
  font-size: 50px;
}

.j6{
  margin-left: 80px;
  font-family: arial;
  font-size: 20px;
}


img {
  float:right;
  margin-right: 100px;
  margin-top: 20px;
  size: 80px;
}
