.header{
  background: #FF00E7;
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: arial;
  padding: 10px;
}
body {
  background: #EC9DE5;
}


j6{
  text-align: left;
  margin-left: 20px;
  font-family: arial;
  font-size: 20px;
}


img {
  float:right;
  margin-right: 30px;
  margin-top: 20px;
  size: 80px;
}
